body {
	background-color: rgb(150, 156, 160);
	font-family: sans-serif;
  }
  
  
  table {
	border-collapse: collapse;
	margin: 0 auto;
  }
  
  td {
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	font-size: 48px;
	font-weight: bold;
	border: 1px solid #ccc;
  }
  
  .cell {
	background-color: #f9f9f9;
	cursor: pointer;
  }
  
  .cell.x {
	color: rgb(0, 0, 0);
  }
  
  .cell.o {
	color: rgb(0, 0, 0);
  }
  
  #result {
	margin-top: 20px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
  }
  
  #reset-button {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #ccc;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  #reset-button:hover {
	background-color: #aaa;
  }
  
  td:hover {
	background-color: #ccc;
  }
  
  #reset-button {
	transition: background-color 0.5s ease;
  }
  
  @keyframes clap {
	0% { transform: rotate(0deg); }
	10% { transform: rotate(-5deg); }
	20% { transform: rotate(3deg); }
	30% { transform: rotate(-3deg); }
	40% { transform: rotate(2deg); }
	50% { transform: rotate(0deg); }
	60% { transform: rotate(-1deg); }
	70% { transform: rotate(1deg); }
	80% { transform: rotate(-1deg); }
	90% { transform: rotate(1deg); }
	100% { transform: rotate(0deg); }
  }
  
  .clap {
	animation: clap 1s ease-in-out;
	transform-origin: center;
	display: none;
  }
  
  .hide {
	display: none;
  }
  
  #play-pause {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
   
  }
  
  button {
	background-color: #3498db; /* some color */
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  button:hover {
	opacity: 0.8; /* make the button slightly transparent when hovered over */
  }
  
  #pause {
	background-color: #f44336; /* different color for pause button */
  }



label[for="room-number"] {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#room-number {
    text-align: center;
    width: 200px;
    padding: 10px;
    font-size: 1.0em;
	font-family:Verdana, Tahoma, sans-serif;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #ccc;
}

#room-number:focus {
    outline: none;
    box-shadow: 0 0 10px #666;
}

#room-number-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
	
}
